*{
    margin: 0%;
    padding: 0%;
    font-family: Poppins;

}


/* Header */

.headerbox{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #003366;
}

.header{
    width: 80%;
    margin: 0.7rem 2rem;
    background-color: white;
    border-radius: 7rem;
    display: flex;
    justify-content: space-evenly;

}

/* Logo */

.logo{
    padding-left: 0.9rem;
    height: 50px;
    
}

.logo>img{
    height: 40px;
    padding-top: 0.5rem;
}

/* Header Menuu */

.menu{

}

.menu>li{
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 2rem;
    padding: 1.1rem;
}

/* Button */

.headerbutton>button{
    
}

.headerbutton>button{
    color: white;
    font-weight: 500;
    background-color: #FF5003;
    margin: 0.5rem;
    padding: 0.7rem;
    border: none;
    border-radius: 2rem;

}


/* Hero Section */

.herosection{
    background-color: #003366;
    display: flex;
    height: 490px;
    

}
.hheading{
    color: white;
    font-size: 2.5rem;
    padding: 5rem ;
    

}

/* Hero Buttons */

.buttonhero{
    display: flex;
    margin: 0 5rem;
    gap: 1rem;
    border-radius: 2rem;
    
}

.btnh1>button{
    background-color: #FF5003;
    color: white;
    font-weight: medium;
    border: none;
    border-radius: 0.4rem;
    padding: 0.6rem;
    
}

.btnh2>button{
    background-color: #003366;
    color: white;
    font-weight: medium;
    border: 1px solid ;
    border-radius: 0.4rem;
    padding: 0.5rem;
    
}

/* Side Image */

.sideimg{

    position: absolute ;
    background-color: red;
    
    

}

.sideimg>img{
    
}


/* Find The Right Teacher */

.headingfind{
    margin: 5rem;
    text-align: center;

}

.hf{
    color: #FF5003;
    font-size: 2.5rem;
}

.pf{
    color: #003366;
}



/* Second section Find The Right Teacher */
.MAINSECOND{
    display: flex;
    justify-content: center;

}

.secondsection{
    display: flex;
    width: 70%;
}

.testimonials{
    padding: 6rem;
}

.testimonialh{
    font-size: 1.7rem;
    color: #003366;
    font-weight: 500;
}

.testimonialpp{
    color: #FF5003;
}

.testimonialhp{
    color: #003366;
    font-weight: 400;
}

/* Anumbers & Analytics */

.number{
    display: flex;
    justify-content: center;
    border: 1px solid #00336673;
    border-radius: 1rem;
    width: 80%;
    margin: 4rem auto;

}

.fourdivs{
    display: flex;
    justify-content: center;
    /* background-color: red; */
    width: 80%;
    gap: 3rem;
    
}

.ex{
    border-right: 1px solid #FF5003;
    padding: 0rem 2rem;
    margin: 0.9rem 0 ;
}

.et{
    /* scroll-padding-top: 1rem; */
    /* background-color: red; */
    margin: 1rem;

}


.hn{
    color: #FF5003;
}



/* Choose The Option For Your Education */

.choosemain{
    background-color: #F2F8F1;
    padding: 2rem 0 0 0 ;
}

.chooseheading{
    text-align: center;
    color: #003366;
    font-size: 55px;
}


/* Blue an dOrange Cards */


.firstfourrows{
    display: flex;
    gap: 0.5rem;
    border: 1px;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
    

}

.bluebg{
    background-color: #003366;
    border-radius: 0.5rem;
    padding: 1rem ;

}

.uppersection{
    display: flex;
    

}

.headingupper{
    font-size: 1.9rem;
    color: white;
}


.orangebg{
    background-color: #FF5003;
    border-radius: 0.5rem;
    padding: 1rem ;
}

.lowerp{
    color: white;
    font-weight: 400;
}



/* Second Four Rows */

.secondfourrows{
    display: flex;
    gap: 0.5rem;
    border: 1px;
    justify-content: center;
    margin: 2rem auto;
    width: 90%;
}



/* Image with 4 colums */

.sdimage>img{
    height: 42rem;

}
 .imgw4clms{
    display: flex;
 }


 .uperclms{
    /* display: flex; */
    /* padding: 0 1rem; */
 }

 .orangebackground{
    background-color: #FF5003;
    padding: 3rem ;
    height: 15rem;
 }

 .bluebackground{
    background-color: #003366;
    padding: 3rem ;
    height: 15rem;

 }

 .uprheading{
    color: white;

 }

 .uperp{
    color: white;
    
    }

 }



 .lowerclms{
    /* display: flex;
    flex-direction: column-reverse; */
 }
 .container{
    display: flex;
    /* align-items:center;   */
 }

 /* Student Develpoment Section */

 .STUDENTDEVELOPMENTSECTION{
    background-image: url(/Assets/Images/Student\ Development.png);
    background-size: cover;
    background-repeat: no-repeat;

 }


 .sdh{
    color: white;
    padding: 3rem ;
    text-align: center;
    font-size: 2.3rem;
 }


 /* Our Team  */

 .headingsection{
    padding: 3rem;
    

 }

 .headingsection>p{
    text-align: center;
    

 }

 .th{
    color: #003366;
    text-align: center;

 }

 /* Team Pics */
 
 .teampics{
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
    
 }


 /* Team Third Section */

 .upersectionteam{
    display: flex;
    justify-content: space-between;
    padding: 4rem 10rem;
    

 }

 .box1>img{
    margin: auto;
    display: flex;

 }

 .box1>p{
    text-align: center;
 }

 .headingtt{
    color: #59514F;
    text-align: center;
 }

 .box2>img{
    margin: auto;
    display: flex;
    

 }

.box2>p{
    text-align: center;
 }

 .headingtt{
    color: #59514F;
    text-align: center;
 }


 /* Lower Section */

.secondsection{
    display: flex;
    justify-content: space-between;
    padding: 0rem 12rem;
 }

 .box3>img{
    margin: auto;
    display: flex;

 }

 .box3>p{
    text-align: center;
 }

 .headingtt{
    color: #59514F;
    text-align: center;
 }

 .box4>img{
    margin: auto;
    display: flex;
    

 }

.box4>p{
    text-align: center;
 }

 .headingtt{
    color: #59514F;
    text-align: center;
 }

 /* Newsletter Section */

 .newsletter{
    background-color: #003366;
    margin: 4rem 0 0 0 ;
    display: flex;
    justify-content: space-between;
 }

 .newsleft{
    padding: 2rem 12rem;
 }

 .newsp1{
    font-weight: 300;
    color: white;
    line-height: 2rem;
    width: 100%;
 }

 .newsetterheading{
    color: white;
 }

 /* Newsright */

 .newsright{
    padding: 8rem 12rem 0 0 ;
 }

 .form{
    width: 20rem;
    height: 3rem;
    position: relative;
    border-radius: 0.5rem ;
    
 }

 .formbutton{
    position: absolute;
    color: black;
    background-color: #FF5003;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border-color: white;
    right: 15%;
    margin: 0.4rem 0;
 }


 /* Where Are We  */

 .wherearewe{
    margin: 2rem 0;
    display: flex;
 }

 .whereleft{
    background-color: #FF5003;
    padding: 8rem 2rem;
    color: white;
    max-height: 17.9rem ;
 }


 /* Footer */

 .footerContainer{
    background-color: #003366;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 2rem 0 ;
 }
 .footerWrapper{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin: 1rem 3rem ;
    width: 100%;
 }
.footertitle > h3 {
    color: white;
    font-size: 2rem;
}

.footerLinks{
display: flex;
gap:4rem;
color: white;
}
.copyRight{
    background-color: #FF5003;
    display: flex;
    justify-content: center;
    padding: 0rem;
    /* margin: 2rem; */
    color: white;
    font-weight: 400;
    
}

/* Contact Us Contact Us      */ /* Contact Us Contact Us      *//* Contact Us Contact Us      */

.hheadingabout{
    font-size: 3rem;
    padding: 14rem 8rem;
    color: white;
}

/* formcontainer */

.formcontainer{
    border: 1px solid   rgb(147, 143, 143);
    border-radius: 1rem;
    width: 80%;
    margin: 5rem auto;
   padding: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.formfields{
    display: flex; 
    flex-direction: column;
    gap: 1rem;
   
    
}

.phone{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    color: #003366;

}

.mail{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    color: #003366;
}

.address{
    display: flex;
    gap: 2rem;
    font-weight: 500;
    color: #003366;
    
    

}

.address p{

    width: 50%;
    
}

input{
    padding: 0.8rem;
    border: 1px solid black;
    border-radius: 0.5rem;
    outline: none;
}

textarea{
    height: 8rem;
    outline: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.formbutton1{
    background-color: #003366;
    padding: 0.5rem;
    color: white;
    border-radius: 0.5rem;
    outline: none;
    border: none;
}


/* Aboutt Us Aboutt Us */ /* Aboutt Us Aboutt Us *//* Aboutt Us Aboutt Us */ /* Aboutt Us Aboutt Us */ /* Aboutt Us Aboutt Us */

.numberabout{
    display: flex;
    justify-content: center;
    border: 1px solid #00336673;
    background-color: #FF5003;
    border-radius: 1rem;
    width: 80%;
    margin: 4rem auto;
    position: absolute;
    top: 72%;
    left: 9%;


}

.fourdivsabout{
    display: flex;
    justify-content: center;
    width: 80%;
    gap: 3rem;
    
}

.exabout{
    border-right: 1px solid #ffffff;
    padding: 0rem 2rem;
    margin: 0.9rem 0 ;
}

.etabout{
    /* scroll-padding-top: 1rem; */
    /* background-color: red; */
    margin: 1rem;

}


.hnabout{
    color: #ffffff;
}

.hpabout{
    color: #ffffff;
}


/* Our Principles */

.principles{
    margin: 8rem auto ;

}

.prheading{
    color: #FF5003;
    font-size: 3rem;
    text-align: center;
}

.pcards{
    /* background-color: #003366; */
    color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    padding: 0 4rem;
}


.card1{
    background-color: #003366;
    padding: 1rem;
    margin: 1rem;
    border-radius: 0.5rem;
    /* align-items: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;

}


.cardh{
    text-align: center;
    padding: 1rem 0rem;
}


.pbtn{
    
    padding: 0.4rem;
    background-color: #FF5003;
    color: white;
    outline: none;
    border: 0px solid ;
    margin: 0.5rem auto;
    border-radius: 0.5rem;

}


.cardp{
    text-align: center;
}